
ion-content {
    --background: #fff url('../../../assets/img/bg.png') no-repeat center center / cover;
}

ion-item{
    --ion-background-color: transparent;
 }
  

form {
    padding-block: 20px;
    padding-top: 25%;
}

.signup {
    position: inherit;
    padding-top: 35% !important;
}

.no-background {
    background: none !important;
  }


  .logo {
    width: 80px;
    height: 80px;
    margin: 20px auto 0;
    border-radius: 10%;
    background: url("../../../assets/img/ionic3-ico.png") no-repeat;
    background-size: 100%;
  }