
ion-content {
    --background: #fff url('../../../assets/img/bg.png') no-repeat center center / cover;
}


ion-header {
    padding-block: 20px;
    padding-top: 20%;
    padding-left: 35%;
    font-size: 18pt;
}

form {
    padding-block: 20px;
    padding-top: 25%;
}