<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="arrow-dropleft-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Your Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-button expand="block" color="secondary" routerLink="/passenger/setjourneyplan" routerDirection="forward">Set Journey</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/passenger/driverselection" routerDirection="forward">Driver Selection</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/passenger/driverfeedback" routerDirection="forward">Driver Feedback</ion-button>
</ion-content>