<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title>Passenger Registeration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   <form [formGroup]="passengregForm" (ngSubmit)="register()">
 
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="fullname"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text" formControlName="country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" formControlName="teleno"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">NIC/Passport</ion-label>
      <ion-input type="text" formControlName="nic"></ion-input>
    </ion-item>

    
    <ion-toolbar color="primary">
    <ion-button fill="clear" color="light" routerLink="/imageupload">
      <ion-icon slot="start" name="camera"></ion-icon>Select Image</ion-button>
    </ion-toolbar>

    <ion-button expand="full" type="submit" >Register</ion-button>
    
  </form>
</ion-content>
