<ion-header color="dark" center>
<ion-toolbar>
  <ion-title>Bids</ion-title>
</ion-toolbar>


</ion-header>


<ion-content>

<ion-list>
        <ion-list-header>
          Recent Notifications from Drivers
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../../assets/login.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <h2>Budget: 40000</h2>
          </ion-label>
          <ion-button color="dark" (click)="onClick()"> Confirm This Offer </ion-button>
        </ion-item>
</ion-list>

<ion-button color="dark" routerLink="/maps-geo"> Confirm This Offer </ion-button>
 
</ion-content>
